/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require framework_and_overrides
 *= require_self
 */


#tblheader {
  position: fixed;
  z-index: 52;
  width:98%;
  text-align:center;
  padding: 0px;
  text-transform: uppercase;
}

#tblbody {
  position: absolute;
  z-index: 50;
  width:98%;
  text-align:center;
  line-height: 1em;
  margin-top: 80px;
  padding: 0px;
  overflow: auto;
}
#tblbody tr {
  min-height: 35px;
  height: auto;
  padding: 0px;
}
#tblheader tr {
  height: 60px;
}
td:first-child, th:first-child {
  width: 27% !important;
}
td, th {
  width: 12% !important;
  height: 80px;
  text-align:center;
  word-wrap: break-word;
  word-break: break-all;
}


.flat-table {
    border-collapse:collapse;

    border: none;
    border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
  }
  .flat-table th, .flat-table td {
    box-shadow: inset 0 -1px rgba(0,0,0,0.25),
      inset 0 1px rgba(0,0,0,0.25);
  }
  .flat-table th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.45);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-size: 1.5em;
  }
  .flat-table td {
    color: #f7f7f7;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    font-size: 1.3em;
  }
  .flat-table tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
  }

  .flat-table-3 {
    background: #52be7f;
  }
  .flat-table-3 tr:hover {
    background: rgba(0,0,0,0.1);
  }

.flat-select {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
   background-color:#27ae60;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color:white;
  padding:12px;
  padding-right: 24px;
  width:auto;
  line-height: 1.1em;
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
     -moz-transition:0.3s ease all;
      -ms-transition:0.3s ease all;
       -o-transition:0.3s ease all;
          transition:0.3s ease all;

}
.flat-select:hover {
 background-color:#2ecc71;
}
.flat-select:focus, .flat-select:active {
  border:0;
  outline:0;
}
.first-cell {
  padding: 5px 15px;
}
.game-date {
  float: left;
  display: inline-block;
  .date, .time {
    float: left;
    display: inline-block;
    clear: left;
    padding: 2px;
  }
  .date {
    border-bottom: 2px solid #367F55;
    padding-bottom: 4px;
  }
}
.game-title {
  font-size: 1.5em;
  word-break: break-word;
  line-height: 1.5em;
}
.floating-panel {
  display: inline-block;
  position: fixed;
  bottom: 10px;
  left: 20px;
  background: #2d2f31;
  padding: 5px;
  border-radius: 6px;
  color: #22a86c;
  z-index: 100;
  a {
    color: #22a86c;
    text-decoration: none;
  }
  ul {
    padding: 0px;
    li {
      display: inline;
      list-style-type: none;
      padding-right: 10px;
      float: left;
    }
  }
}
.authform {
  width: 400px;
  min-height: 340px;
  background-color: #2d2f31;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  label {
    color: #ffffff !important;
  }

  .input-group-addon {
    border: none;
    border-radius: 0;
    background-color: #22a86c;
    color: #ffffff;
    i {
      width: 30px;
      font-size: 24px;
    }
  }

  input[type="submit"] {
    border-radius: 0;
    border: none;
    background-color: #22a86c;
    color: #ffffff;
  }
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #424242 inset;
    color: #ffffff !important;
    -webkit-text-fill-color: #ffffff !important;
}
.social-login {
  margin-top: 20px;
  li {
    width: 33%;
    text-align: center;
    i {
      border: 4px solid;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      font-size: 36px;
      line-height: 44px;
      color: #22a86c !important;
    }
  }
}
.form-control, .form-control:-webkit-autofill {
  height: 50px;
  color: #ffffff !important;
  font-size: 24px;
  border-radius: 0;
  border: none;
  background-color: #424242 !important;
  margin-bottom: 20px;
}
.submit-btn {
  margin-bottom: 20px;
}
