@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
html, body, main {
  height: 100%;
  // background-color: #3f4649;
  min-width: 1000px;
   font-family: 'Lato', Calibri, Arial, sans-serif;
}
html, body {
  background: image-url('back.png');
}
.authform {
  width: 400px;
  height: 340px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #2d2f31;
  text-align: center;
  padding: 20px;

  label {
    color: #d5d5d5 !important;
  }
  .input-group {
    color: #d5d5d5;
    height: 50px;
    margin-top: 20px;
    input, input:-webkit-autofill {
      height: 50px;
      color: #d5d5d5 !important;
      font-size: 24px;
      border-radius: 0;
      border: none;
      background-color: #424242 !important;
    }
    .input-group-addon {
      border: none;
      border-radius: 0;
      background-color: #22a86c;
      color: #d5d5d5;
      i {
        width: 30px;
        font-size: 24px;
      }
    }
  }
  input[type="submit"] {
    border-radius: 0;
    border: none;
    background-color: #22a86c;
    color: #d5d5d5;
  }
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #424242 inset;
    color: #d5d5d5 !important;
    -webkit-text-fill-color: #d5d5d5 !important;
}
.social-login {
  margin-top: 20px;
  li {
    width: 33%;
    text-align: center;
    i {
      border: 4px solid;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      font-size: 36px;
      line-height: 44px;
      color: #22a86c !important;
    }
  }
}
