script type="text/ng-template" id="/dashboard.html" = render template: 'dashboard/index'
script type="text/ng-template" id="/team.html" = render template: 'teams/show'
script type="text/ng-template" id="/profile.html" = render template: 'users/show'
